# API Geo Reverse Toronto Home Sales

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [7]:
home_sales_df = pd.read_csv("Resources/toronto_home_prices_Yen.csv")
home_sales_df.head()

,Index,AreaName,Price ($),lat,lng,Address,City
0,1,Richview,999888,43.679882,-79.544266,86 Waterford Dr,Toronto
1,2,Downtown,362000,43.651478,-79.368118,#1409 - 230 King St,Toronto
2,3,Old East York,1488000,43.686375,-79.328918,254A Monarch Park Ave,Toronto
3,4,Fairbank,25,43.691193,-79.461662,532 Caledonia Rd,Toronto
4,5,Wallace Emerson,113,43.664101,-79.439751,47 Armstrong Ave,Toronto

In [8]:
toronto_home_sales = home_sales_df.drop(columns="Index")
toronto_home_sales["Postal Code"] = ""
toronto_home_sales.head()

,AreaName,Price ($),lat,lng,Address,City,Postal Code
0,Richview,999888,43.679882,-79.544266,86 Waterford Dr,Toronto,
1,Downtown,362000,43.651478,-79.368118,#1409 - 230 King St,Toronto,
2,Old East York,1488000,43.686375,-79.328918,254A Monarch Park Ave,Toronto,
3,Fairbank,25,43.691193,-79.461662,532 Caledonia Rd,Toronto,
4,Wallace Emerson,113,43.664101,-79.439751,47 Armstrong Ave,Toronto,

In [9]:
# params dictionary to update each iteration
params = {"key": gkey}

# Use the lat/lng we recovered to identify postal code
for index, row in toronto_home_sales.iterrows():
    # get lat, lng from df
    lat = row["lat"]
    lng = row["lng"]

    # change location each iteration while leaving original params in place
    params["latlng"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/geocode/json?"

    # make request
    postal_code = requests.get(base_url, params=params)

    # convert to json
    postal_code = postal_code.json()
    
    try:
        toronto_home_sales.loc[index, "Postal Code"] = postal_code["results"][0]["address_components"][7]["long_name"]
    except (IndexError):
        print(f"No Results Found: {lat}, {lng}")

No Results Found: 43.660103, -79.385086
No Results Found: 43.660103, -79.385086
No Results Found: 43.660225, -79.428726
No Results Found: 43.697365000000005, -79.546089
No Results Found: 43.660225, -79.428726
No Results Found: 43.651909, -79.569687
No Results Found: 43.777565, -79.281006
No Results Found: 43.811077000000004, -79.279678
No Results Found: 43.800647999999995, -79.307007
No Results Found: 43.648983, -79.365219
No Results Found: 43.735703, -79.31237800000001
No Results Found: 43.64286, -79.38073
No Results Found: 43.651169, -79.384987
No Results Found: 43.8269, -79.27565
No Results Found: 43.652138, -79.371483
No Results Found: 43.686378000000005, -79.415024
No Results Found: 43.724548, -79.32543199999999
No Results Found: 43.697365000000005, -79.546089
No Results Found: 43.659836, -79.384956
No Results Found: 43.654957, -79.41551199999999
No Results Found: 43.8269, -79.27565
No Results Found: 43.783237, -79.169342

In [10]:
# Visualize to confirm airport data appears
toronto_home_sales.head(10)

,AreaName,Price ($),lat,lng,Address,City,Postal Code
0,Richview,999888,43.679882,-79.544266,86 Waterford Dr,Toronto,M9R 2N8
1,Downtown,362000,43.651478,-79.368118,#1409 - 230 King St,Toronto,M5A 2P8
2,Old East York,1488000,43.686375,-79.328918,254A Monarch Park Ave,Toronto,M4J 4S5
3,Fairbank,25,43.691193,-79.461662,532 Caledonia Rd,Toronto,M6E 4V4
4,Wallace Emerson,113,43.664101,-79.439751,47 Armstrong Ave,Toronto,M6H 1V9
5,Old East York,599900,43.697842,-79.317368,3 Bracebridge Ave,Toronto,M4C 2X6
6,Parkdale,97,43.635578,-79.441345,#808 - 2167 Lake Shore Blvd,Toronto,M6K 3C1
7,Parkdale,49,43.635578,-79.441345,#2706 - 2167 Lake Shore Blvd,Toronto,M6K 3C1
8,Downtown,805900,43.666794,-79.388756,#710 - 1080 Bay St,Toronto,M5S 0A5
9,Midtown Toronto,97,43.662872,-79.423233,#A - 753 Shaw St,Toronto,M6G 3L9

In [ ]:
# Save Data to csv
toronto_home_sales.to_csv("output_data/toronto_api_postal_yd.csv")